body {
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  font-size: 14px;
  padding: 40px 20px;
}

.vehicle {
  width: 30%;
  margin: 30px 24px;
  padding: 16px;
  border-radius: 4px;

  &.water {
    &.vehicle_is-active {
      box-shadow: 12px 12px 2px 1px rgba(1, 56, 106, .2);
    }
    background: linear-gradient(to bottom right, #01386a, white);
  }

  &.land {
    &.vehicle_is-active {
      box-shadow: 12px 12px 2px 1px rgba(155, 118, 83, .2);
    }
    background: linear-gradient(to bottom right, #9b7653, white);
  }

  .vehicle__image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
  }

  .vehicle__speed {
    font-weight: bold;
  }

  .vehicle__text {
    margin-top: 8px;
  }
}
